In [9]:
# Membaca data 
import pandas as pd
dataku = pd.read_csv('cuaca.csv')

In [10]:
#tampilkan ukuran dataset
print("ukuran : ", dataku.shape)

ukuran :  (14, 5)

In [11]:
#tampilkan nama semua kolom dataset
print("\nFeatures:", dataku.columns)

Features: Index(['cuaca1', 'suhu', 'kelembaban', 'angin', 'main'], dtype='object')

In [12]:
# Simpan data fitur dalam X dan data target dalam y
x = dataku[dataku.columns[:-11]]
y = dataku[dataku.columns[-1]]

In [13]:
#tampilkan semua isi dataset cuaca
print("\nFeatures matrix:\n", x)
print("\nResponse vector:\n", y)

Features matrix:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Response vector:
 0     yes
1     yes
2     yes
3     yes
4     yes
5     yes
6      no
7     yes
8      no
9      no
10     no
11     no
12    yes
13    yes
Name: main, dtype: object

In [14]:
#tampilkan 7 baris terakhir datset cuaca
print("\nFeatures matrix:\n", x.tail (7))
print("\nResponse vector:\n", y.tail (7))

Features matrix:
 Empty DataFrame
Columns: []
Index: [7, 8, 9, 10, 11, 12, 13]

Response vector:
 7     yes
8      no
9      no
10     no
11     no
12    yes
13    yes
Name: main, dtype: object

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder


knn = KNeighborsClassifier(n_neighbors=3, metric='euclidean')
ohe = OneHotEncoder()
le = LabelEncoder()

In [17]:
dataku['kelembaban'] = le.fit_transform(dataku['kelembaban'])
dataku['angin'] = le.fit_transform(dataku['angin'])
# dataku['main'] = le.fit_transform(dataku['main'])

dataku

      cuaca1  suhu  kelembaban  angin main
0   overcast   hot           0      0  yes
1   overcast  cool           1      1  yes
2   overcast  mild           0      1  yes
3   overcast   hot           1      0  yes
4     rainly  mild           0      0  yes
5     rainly  cool           1      0  yes
6     rainly  cool           1      1   no
7     rainly  mild           1      0  yes
8     rainly  mild           0      1   no
9      sunny   hot           0      0   no
10     sunny   hot           0      1   no
11     sunny  mild           0      0   no
12     sunny  cool           1      0  yes
13     sunny  mild           1      1  yes

In [19]:
dataku_encoded = pd.DataFrame(
    ohe.fit_transform(dataku[['cuaca1','suhu']]).toarray(),
    columns=['overcast','rainy','sunny','cool','hot','mild']
)

dataku_final = pd.concat([dataku_encoded, dataku['kelembaban'], dataku['angin'], dataku['main']], axis=1)
dataku_final

    overcast  rainy  sunny  cool  hot  mild  kelembaban  angin main
0        1.0    0.0    0.0   0.0  1.0   0.0           0      0  yes
1        1.0    0.0    0.0   1.0  0.0   0.0           1      1  yes
2        1.0    0.0    0.0   0.0  0.0   1.0           0      1  yes
3        1.0    0.0    0.0   0.0  1.0   0.0           1      0  yes
4        0.0    1.0    0.0   0.0  0.0   1.0           0      0  yes
5        0.0    1.0    0.0   1.0  0.0   0.0           1      0  yes
6        0.0    1.0    0.0   1.0  0.0   0.0           1      1   no
7        0.0    1.0    0.0   0.0  0.0   1.0           1      0  yes
8        0.0    1.0    0.0   0.0  0.0   1.0           0      1   no
9        0.0    0.0    1.0   0.0  1.0   0.0           0      0   no
10       0.0    0.0    1.0   0.0  1.0   0.0           0      1   no
11       0.0    0.0    1.0   0.0  0.0   1.0           0      0   no
12       0.0    0.0    1.0   1.0  0.0   0.0           1      0  yes
13       0.0    0.0    1.0   0.0  0.0   1.0           1      1  yes